//////////////////////////////
// LOGO
//////////////////////////////

.logo {
    height: 4rem;
    margin-left: 3rem;
}

//////////////////////////////
// SEARCHBAR
//////////////////////////////

.searchbar {
    flex: 0 0 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    &__input {
        font-size: 1.7rem;
        font-family: inherit;
        color: var(--color-grey-dark-3);
        font-weight: 100;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: 1rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .3s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: var(--color-grey-dark-3);
    }
}

//////////////////////////////
// USER NAVIGATION
//////////////////////////////

.user-navigation {
    align-self: stretch;

    display: flex;
    align-items: center;

    & > * {
        height: 100%;
        padding: 0 2rem;
        cursor: pointer;

        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--color-grey-light-3);
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 3rem;
        width: 3rem;
        fill: var(--color-grey-dark-3);
    }

    &__user-notification {
        height: 2rem;
        width: 2rem;
        color: var(--color-white);
        background-color: var(--color-primary);
        border-radius: 50%;
        padding: 1.5px;
        position: absolute;
        right: 1rem;
        top: 1.4rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-info {
        font-size: 1.5rem;
    }

    &__user-photo {
        height: 4rem;
        border-radius: 50%;
    }

    &__user-name {
        margin-left: 1.1rem;
    }
}

//////////////////////////////
// SIDEBAR
//////////////////////////////

.sidebar-navigation {
    margin-top: 3rem;
    list-style: none;
    font-size: 1.75rem;
    font-weight: 100;
    text-transform: uppercase;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__item:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: var(--color-primary);
        height: 100%;
        width: 3px;
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(1,.01,0,1.01) .2s;
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: var(--color-primary-light);
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: var(--color-grey-light-2);
        display: block;
        padding: .75rem 0 .75rem 1.5rem;
        position: relative;
        z-index: 1;

        display: flex;
        align-items: center;
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: currentColor;
        margin-right: 1.5rem;
    }
}

.sidebar-copyright {
    font-size: 1.2rem;
    color: var(--color-grey-dark-3);
    text-align: center;
    padding: 2rem;
}

//////////////////////////////
// GALLERY
//////////////////////////////

.gallery {
    display: flex;
    
    &__item {

    }

    &__photo {
        width: 100%;
        display: block;
    }
}

//////////////////////////////
// HOTEL OVERVIEW
//////////////////////////////

.hotel-overview {
    display: flex;

    &__heading {

    }

    &__rating {

    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-primary);
        margin-right: 1.5rem;
    }

    &__location {

    }

    &__rating {

    }

    &__rating-average {

    }

    &__rating-count {

    }
}

.btn-inline {

}