.overall-container {
    max-width: 120rem;
    margin: 0 auto;
    box-shadow: var(--shadow-dark);
    background-color: var(--color-grey-light-1);
}

.header {
    height: 8rem;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar-container {
    flex: 0 0 18%;
    background-color: var(--color-grey-dark-1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-container {
    flex: 1;
    background-color: var(--color-white);
    height: 500px;
}