.overall-container {
    max-width: 120rem;
    margin: 0 auto;
    box-shadow: var(--shadow-dark);
    background-color: var(--color-grey-light-1);
}

.header {
    height: 7rem;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-grey-light-2)
}

.content-container {
    display: flex;
}

.sidebar-navigation {
    flex: 0 0 18%;
    background-color: var(--color-grey-dark-1);
}

.hotel-overview {
    flex: 1;
    background-color: var(--color-white);
}